*.iml
target/*
*.svn
*/**.svn
.classpath

.project

.settings/org.eclipse.m2e.core.prefs

.settings/org.eclipse.jdt.core.prefs

velocity.log*

src/main/java/com/eeplanner/datastructures/Flight.java

src/main/java/com/eeplanner/datastructures/Flight.java

src/main/java/com/eeplanner/web/flight/FlightController.java
